
<header class='header__login'>
    <img class="header__login--flame1" src="/flame.png">
    <img class="header__login--flame2" src="/flame2.png">
    <div class="header__title">
        <%# <h1 class='header__login--title'>ISORA WONDERLAND</h1> %>
        <img src="/logintitle.png" class='header__login--title'>
    </div>
    <%= form_tag("/home/login") do%>
        <div class="header__password">
            <input type="password" name="password" class='header__login--password'>
        </div>
        <div class="header__submit">
            <input class="header__submit-btn" type="image" src="/login.png">
        </div>
    <% end %>
</header>