<%# <h1 class="top">ログイン成功です</h1>
<%= link_to("ログアウト", "/home/logout") %>
<%# <%= link_to("レベル1", "/home/leveltop/1") %>   


<header class='header__menu1'>
    <p class='header__menu1-text'>isora wonderland</p>
    <a href="#" class='header__menu1-link'>ログアウト</a>
</header>

<main>
    <div class="menu1__top">
        <img src="/flamex2.png" class='menu1__top-img'>
        <div>
            <h1 class='menu1__top-title'>Menu</h1>
        </div>
    </div>
    <div class="select-big">
        <span><li class='select-big__text'>1~500</li></span>
        <li class='select-big__list'><a href="#" class='select-big__link'>501~1000</a></li>
        <li class='select-big__list'><a href="#" class='select-big__link'>1001~1500</a></li>
        <li class='select-big__list'><a href="#" class='select-big__link'>1501~2000</a></li>
    </div>
    <div class="select-small">
        <div class="selecr-small__line1">
            <span class='select-small__text'><a href="#">stage 1 (1~)</a></span>
            <a href="#">stage 2 (51~)</a>
        </div>
        <div class="selecr-small__line2">
            <a href="#">stage 3 (101~)</a>
            <a href="#">stage 4 (151~)</a>
        </div>
        <div class="selecr-small__line3">
            <a href="#">stage 5 (201~)</a>
            <a href="#">stage 6 (251~)</a>
        </div>
        <div class="selecr-small__line4">
            <a href="#">stage 7 (301~)</a>
            <a href="#">stage 8 (351~)</a>
        </div>
        <div class="selecr-small__line5">
            <a href="#">stage 9 (401~)</a>
            <a href="#">stage 10 (451~)</a>
        </div>
    </div>


</main>
<footer class='footer__menu1'>
    <img src="/background.jpg">
</footer>