<header class='header__test'>
    <p class='header__test-text'>isora wonderland</p>
</header>

<main>
<div class="answer-container">
<div class="answer-container__border">
    <p>n問目</p>
    <div class="answer-container__border__box">
        <p>explain</p>
        <div class="answer-container__border__box__answer">
            <p>説明する</p>
        </div>
    </div>
    <div class="answer-container__border__btn">
    <input type="image" src="/OK.png">
    <input type="image" src="/notOK.png">

    </div>
</div>
</div>
</main>
