<header class='header__test'>
    <p class='header__test-text'>isora wonderland</p>
</header>

<main>
<div class="problem-container">
    <div class="problem-container__border">
    <p>1問目</p>
    <div class="problem-container__border__box">
        <p>explain</p>
        <div class="problem-container__border__box__count">
            <p>3</p>
        </div>
    </div>
    <div class="problem-container__border__btn">
        <input type="image" src="/answer.png">
    </div>

    </div>
</div>
</main>
