<header class="header__test">
    <p class="header__test-text">isora wonderland</p>
    <a href="#">もどる</a>
</header>

<main>
    <div class="container">
        <img class="container__test" src="/test.png">
        <div class="container__border">
            <p>Stage X (xxx~)</p>
            <div class="container__border__box">
                <p>Score</p>
                <div class="container__border__box__score">
                <p>YY</p>
                </div>
            </div>
            <div class="container__border__message">
                <p>おつかれさま！</p>
            </div>
            <div class="container__border__btn">
                <input type="image" src="/listbtn.png">
            </div>
            <div class="container__border__silva">
                <img src="/silva.png">
            </div>
            <div class="container__border__crack">
                <img src="/クラッカー.png">
            </div>
        </div>
    </div>
</main>

