<header class="header__test">
    <%# <p class="header__test-text">isora wonderland</p> %>
    <img src="/menutitle.png" class='header__menu1-text'>
    <a href="/home/menu1">もどる</a>
</header>


<main>
    <div class="start-container">
        <div class="start-container__border">
            <p class='start-container__text'>テストを開始します</p>
            <div class="start-container__border__btn">
                <a href="<%= "/test/extract/#{@level}"%>">
                    <input type="image" src="/start.png">
                </a>
            </div>
        </div>
    </div>
</main>

