// Place all the styles related to the Test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// 英単語表示画面に関するcss
//

*{
    margin:0;
    padding:0;
}

.header__test{
    background-color:#4E549C;
    height:100px;
    color:white;
    padding:0px;
    margin:0px;
}

.header__test-text{
    font-family:"Heart To Diamond Font";
    font-size:60px;
    color:white;
    padding:0;
    margin-left:20px;
    float:left;
    line-height:100px;
}

.problem-container{
    border:10px solid #B4A37B;
    margin:30px 30px 0 30px;
    background-color:black;
    position:relative;
}

.problem-container__border{
    margin:25px 25px 30px 25px;
    border:4px solid #B4A37B;
}

.problem-container__border p{
    font-size:50px;
    text-align: center;
    font-family:"Arial";
    color:white;
    margin:200px 0 20px 0 ;
    width:850px;
}

.problem-container__border__box{
    margin:0px 70px 80px 70px;
    border:4px solid #B4A37B;
    height:180px;
    background-color:white;
}

.problem-container__border__box p{
    font-size:60px;
    border-bottom:4px solid #B4A37B;
    text-align: center;
    font-family:"Arial";
    color:black;
    margin:10px 0 0 0 ;
    padding-bottom:10px;
    width:695px;
}

.problem-container__border__box__count p{
    font-size:60px;
    border:none;
    text-align: center;
    font-family:"Arial";
    color:black;
    margin:10px 0 0 0 ;
    padding-bottom:10px;
    width:695px;
}

.problem-container__border__btn input{
    padding:7px 0;
    background-color: black;
    height: 10%;
}

.problem-container__border__btn{
    margin: 10%;
    text-align: center;
}

.problem-container__border__btn input:hover{
    opacity:0.6;
}

//
// 答え画面に関するcss
//

.answer-container{
    border:10px solid #B4A37B;
    margin:30px 30px 0 30px;
    background-color:black;
    position:relative;
}

.answer-container__border{
    margin:25px 25px 30px 25px;
    border:4px solid #B4A37B;
}

.answer-container__border p{
    font-size:50px;
    text-align: center;
    font-family:"Arial";
    color:white;
    margin:200px 0 20px 0 ;
    width:850px;
}

.answer-container__border__box{
    margin:0px 70px 80px 70px;
    border:4px solid #B4A37B;
    height:180px;
    background-color:white;
}

.answer-container__border__box p{
    font-size:60px;
    border-bottom:4px solid #B4A37B;
    text-align: center;
    font-family:"Arial";
    color:black;
    margin:10px 0 0 0 ;
    padding-bottom:10px;
    width:695px;
}

.answer-container__border__box__answer p{
    font-size:50px;
    border:none;
    text-align: center;
    font-family:"Arial";
    color:black;
    margin:10px 0 0 0 ;
    padding-bottom:10px;
    width:695px;
}

.answer-container__border__btn input{
    height: 10%;
    background-color: black;
    padding:7px 39px;
    width:340px;
}

.answer-container__border__btn{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.answer-container__border__btn input:hover{
    opacity:0.6;
}

// 
// 得点発表画面に関するcss
// 

.header__test a{
    color:white;
    float:right;
    padding:20px;
    margin-top:20px
}

.score-container{
    border:10px solid #B4A37B;
    margin:30px 30px 0 30px;
    background-color:black;
    position:relative;
}

.score-container__border{
    margin:25px 25px 30px 25px;
    border:4px solid #B4A37B;
}

.score-container__test{
    width:130px;
    position:absolute;
    left:60px;
}

.score-container__border p{
    margin-left:230px;
    font-size:40px;
    border-bottom:4px solid #B4A37B;
    color:white;
    margin-top:70px;
    text-align: center;
    width:400px;
}

.score-container__border__box{
    margin:70px 70px 80px 70px;
    border:4px solid #B4A37B;
    height:170px;
    background-color:white;
}

.score-container__border__box p{
    font-size:45px;
    border:none;
    text-align:left;
    position:relative;
    left:140px;
    top:20px;
    font-family:"Heart To Diamond Font";
    color:#B4A37B;
    margin:0;
}

.score-container__border__box__score p{
    font-size:60px;
    border-bottom:4px dashed #B4A37B;
    position:relative;
    left:320px;
    top:40px;
    font-family:"Arial";
    color:black;
    margin:0;
    width:75px;
}

.score-container__border__message{
    margin:0;
}

.score-container__border__message p{
    position:relative;
    text-align:center;
    width:840px;
    font-size:40px;
    border-bottom:none;
    color:white;
    margin:100px 0;
}

.score-container__border__btn input{
    margin-left:216px;
    padding:0;
    margin-bottom:0;
}

.score-container__border__btn{
    margin-bottom:0px;
}

.score-container__border__btn input:hover{
    opacity:0.6;
}

.score-container__border__silva img{
    margin-left:500px;
    width:350px;
    position:relative;
    
}

.score-container__border__crack img{
    position:absolute;
    top:300px;
    left:285px;
}